<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Administración -- Empleados</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  </head>
  <body style="background-color: #cce5ff;">

<br/>
    <div class="container">

      <div class="jumbotron mt-0" style="background-color: white;">
      <div class="alert alert-dark" role="alert">
        <h4>Gestión empleados
        </h4>
      </div>
      <table class="table" border="0" width="100%">
        <tr align="center">
          <td>
          <a  href="/empleados/nuevoEmpleadoForm">
            <img src="/img/newitem.png"  alt="">
            <br/>Nuevo Empleado
          </a>
          </td>
          <td>
            <a  href="/empleados/listarEmpleados">
              <img src="/img/list.png"  alt="">
              <br/>Listar Empleados
            </a>
          </td>
          <td>
            <a  href="">
              <img src="/img/reportes.png"  alt="">
              <br/>Reportes
            </a>
          </td>
        </tr>
      </table><br/><hr/>
      <p align="center">
        <img src="/img/back.png"  alt=""><br/>
        <a  href="/">Regresar cambiado</a>
        </p>
    </div>
  </div>

    <div id="pie"><%- include ('partials/footer.ejs') %></div></div>

  </body>
</html>
