<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Empleados</title>
  </head>
  <body>
    Lista de empleados
    <a href="/empleados/homeEmpleados">Regresar</a>
  </body>
</html>
